<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.10/dist/vue.js"></script>
  </head>

  <body>
    <!-- 
    computed和watch之间的区别
        - computed能完成的功能，watch都可以完成
        - watch能完成的功能，computed不一定能完成，例如watch可以进行异步操作
    两个重要的小原则
        - 所有被Vue管理的函数，最好写成普通函数，这样 this 的指向才是vm或组件实例对象
        - 所有不被Vue所管理的函数（定时器的回调函数、ajax 的回调函数等、Promise 的回调函数）,
        最好写成箭头函数，这样 this 的指向才是vm或组件实例对象
     -->
    <div id="root">
      姓：<input type="text" v-model="firstName" /> <br />
      名：<input type="text" v-model="lastName" /> <br />
      全名：<span>{{ firstName }}-{{ lastName }}</span>
    </div>
  </body>
  <script type="text/javascript">
    Vue.config.productionTip = false;
    // 使用计算属性
    new Vue({
      el: "#root",
      data: {
        firstName: "张",
        lastName: "三",
      },
      computed: {
        fullName() {
          return this.firstName + "-" + this.lastName;
        },
      },
    });
    // 使用监听属性
    new Vue({
      el: "#root",
      data: {
        firstName: "张",
        lastName: "三",
        fullName: "张-三",
      },
      watch: {
        firstName(val) {
          setTimeout(() => {
            this.fullName = val + "-" + this.lastName;
          }, 1000);
        },
        lastName(val) {
          this.fullName = this.firstName + "-" + val;
        },
      },
    });
  </script>
</html>
